.fa-plus-circle {
    transform: scale(1.5);
    color: #415A77;
    transition: .1s linear;
}

.fa-plus-circle:hover {
    color: #011627;
    ;
}

#col-header {
    margin-top: 20px;
}

#col-header > p > span {
    font-weight: 700;
    color: #011627;
}

#tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 40px;					
    padding: 2px;				
    font-size: 12px;		
    background: #FDFFFC;	
    border: 0;		
    border-radius: 8px;			
    pointer-events: none;			
  }

  svg {
    overflow: visible;
  }

  #expense-list, #category-list {
    width: 200px;
    margin: 10px 0;
    position: relative;
}

#expense-list:before, #category-list:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 70%;
    height: 40px;
    background-image: linear-gradient(to top, rgba(255,255,255,0), #fff);
}

#expense-list:after, #category-list:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 40px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #fff);
}

ul {
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}

ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
}

ul::-webkit-scrollbar-thumb {
    background: #aeaeae;
}